# ======================
# 📦 Java & Gradle 기본
# ======================

*.class
*.jar
*.war
*.ear
*.log
*.tmp

# Gradle 빌드 출력
.gradle/
build/

# Gradle Wrapper 로그
gradle-app.setting

# IDE 설정
.idea/
*.iml
*.ipr
*.iws
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# ================
# 🖥 OS 별 무시 항목
# ================

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~

# ===============
# 🔐 보안/환경 파일
# ===============

.env
*.key
*.pem

# ===================
# 🧪 테스트/임시 파일
# ===================

test-output/
coverage/
*.swp
*.swo

#zip ignore
*.zip

#틀정파일 제외
/shop/src/test/java/com/shop/config/JasyptEncryptorTest.java

### resources 디렉토리 내의 application.yml 파일만 무시 (커밋 대상에서 제외) ###
/shop/src/main/resources/application.yml




